body { 
  font-family: $body-font;
  @include defaults; 
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $header-font;
}
div, p {
  font-family: $body-font;
}
p.lead { font-size: $xlarge-font-size; }
.ng-enter, .ng-leave {
  @include transition(all,0.25s,ease,0);
}

hr.heavy {
  margin: 40px 0;
}

div.preloader {
  width: 100%;
  height: 64px;
  display: none;
  &.submitted {
    display: block;
    background: url(../images/icons/ajax-loader.gif) no-repeat;
    background-position: center center;
  }
}

div.ajax-preloader {
  z-index: $z-ajax-preloader;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: $white;
  background: rgba(255,255,255,0.9);
  &.submitted {
    display: block;
    div.animation{
      margin: 33% auto;
      background: url(../images/icons/ajax-loader.gif) no-repeat;
      width: 64px;
      height: 64px;
    }
  }
}