body { 
  font-family: $body-font;
  @include defaults; 
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $header-font;
}
div, p {
  font-family: $body-font;
}

.ng-enter, .ng-leave {
  @include transition(all,0.25s,ease,0);
}
