code, kbd, pre, samp {
  font-family: $mono-spaced-font;
}
pre {
  padding: 8px 10px 20px;
  background: $darkblue;
  color: $white;
  border: 2px solid $black-30;
  border-radius: 4px;
}

code {
  span.str {
    color: $yellow;
  }
  span.com {
    font-style: italic;
    color: $lightblue;
  }
  span.plain {
    color: $codewhite;
  }
  span.var {
    color: $black-20;
  }
  span.cla {
    color: $lightyellow;
  }
  span.sym {
    color: $pink;
  }
  span.method {
    color: $orange;
  }

  &.inline {
    background: #eee;
    font-size: .9em;
    padding: 4px 6px;
  }
}


/* 
$darkblue: #193549;
$lightblue: #0088ff;
$yellow: #3ad900;
$lightyellow: #9eff80;
$orange: #ff9d00;
$lightgreen: #80ffbb;
$pink: #ff628c;
$codewhite: #e1efff;
 */


/*
desert scheme ported from vim to google prettify 
pre.prettyprint { display: block; background-color: #333 }
pre .nocode { background-color: none; color: #000 }
pre .str { color: #ffa0a0 } //string  - pink
pre .kwd { color: #f0e68c; font-weight: bold }
pre .com { color: #87ceeb }  //comment - skyblue
pre .typ { color: #98fb98 } // type    - lightgreen
pre .lit { color: #cd5c5c } // literal - darkred 
pre .pun { color: #fff }    // punctuation 
pre .pln { color: #fff }    // plaintext 
pre .tag { color: #f0e68c; font-weight: bold } // html/xml tag    - lightyellow 
pre .atn { color: #bdb76b; font-weight: bold } // attribute name  - khaki 
pre .atv { color: #ffa0a0 } // attribute value - pink 
pre .dec { color: #98fb98 } // decimal         - lightgreen 
*/