code, kbd, pre, samp {
  font-family: $mono-spaced-font;
}
pre {
  background: $darkblue;
  color: $white;
  border: 2px solid $black-30;
  border-radius: 4px;
  overflow-x: scroll;
}

code {
  span.str, span.typ {
    color: $yellow;
  }
  span.com {
    font-style: italic;
    color: $lightblue;
  }
  span.plain, span.pun, span.pln {
    color: $codewhite;
  }
  span.var {
    color: $black-20;
  }
  span.cla,
  span.pln {
    color: $lightyellow;
  }
  span.sym, span.lit {
    color: $pink;
  }
  span.method,
  span.kwd {
    color: $orange;
  }

  &.inline {
    background: $darkblue;
    color: $codewhite;
    font-size: .7em;
    padding: 4px 6px;
  }

}

li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8
{ list-style-type: decimal !important }

/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { background: none; }

/*
$darkblue: #193549;
$lightblue: #0088ff;
$yellow: #3ad900;
$lightyellow: #9eff80;
$orange: #ff9d00;
$lightgreen: #80ffbb;
$pink: #ff628c;
$codewhite: #e1efff;
*/