footer {
  left:0px;
  bottom:0px;
  height:300px;
  width:100%;
  color: $darkblue;
  background-color: $lightyellow;
  // background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNiIgaGVpZ2h0PSI2Ij4KPHJlY3Qgd2lkdGg9IjYiIGhlaWdodD0iNiIgZmlsbD0iI2VlZWVlZSI+PC9yZWN0Pgo8ZyBpZD0iYyI+CjxyZWN0IHdpZHRoPSIzIiBoZWlnaHQ9IjMiIGZpbGw9IiNlNmU2ZTYiPjwvcmVjdD4KPHJlY3QgeT0iMSIgd2lkdGg9IjMiIGhlaWdodD0iMiIgZmlsbD0iI2Q4ZDhkOCI+PC9yZWN0Pgo8L2c+Cjx1c2UgeGxpbms6aHJlZj0iI2MiIHg9IjMiIHk9IjMiPjwvdXNlPgo8L3N2Zz4=");

  div {
    p.lead { 
      font-weight: $body-bold; 
      color: $darkblue; 
    }
    ul.accounts {
      @include defaults;
      list-style:none;
      li.account {
        display: inline-block;
        margin: 0 10px;
        a {
          width: 32px;
          position:relative;
          display: inline-block;
          &.Email:after { @include afterIcon("../images/icons/email.svg",32px,32px); }
          &.Github:after { @include afterIcon("../images/icons/github.svg",32px,32px); }
          &.Twitter:after { @include afterIcon("../images/icons/twitter.svg",32px,32px); }
          &.LinkedIn:after { @include afterIcon("../images/icons/linkedin.svg",32px,32px);  }
          &.Instagram:after { @include afterIcon("../images/icons/instagram.svg",32px,32px); }
          &.Tumblr:after { @include afterIcon("../images/icons/tumblr.svg",32px,32px); }
        }
      }
    }
  }
}