input { 
  @include transition(all, 0.25s, ease, 0); 
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"] {
  height: 30px;
  min-width: 200px;
  border: 1px solid $black;
  border-radius: 4px;
  padding: 0 5px;
  font-family: $header-font;
  font-size: 16px;

  &.feed-input {
    display:block;
    width: 90%;
  }
}
input[type="file"],
input[type="submit"] {
  &.btn {
    &.btn-default {
      border: 1px solid $black;
      border-radius: 4px;
      color: $black;
      background-color: $white;
      padding: 6px 10px 8px;
      cursor: pointer; 

      &:hover {
        background-color: $black;
        color: $white;
      }
    }  
  }
}

label {
  font-family: $body-font;
  display: block;
}

div.form-group {
  margin: 0 0 10px;
}
div.form-control {
  margin: 10px auto;
}

section.post-edit div form div.form-group input[type="checkbox"], 
section.post-edit div form div.form-group label {
    display: inline-block;
    width: auto;
}

div.checkbox-group { 
  display: inline-block; 
  label { display: inline-block; margin: 5px 0 5px 15px; }
}

input[type="text"]#homeFilter {
  box-sizing: border-box;
  position: relative;
  z-index: $z-contact-form-input;
  outline: solid transparent;
  width: 100%;
  height: 40px;
  font-family: $mono-spaced-font;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  color: $yellow;
  background: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $lightgreen;
  
  &:focus + label,
  &:valid + label {
    top: 100%;
    left: 0;
    font-size: 1em;
  }
  &:not(:focus):valid {
    background: none;
  }
  &:focus:valid {
    background: none;
  }

  &:not(:focus) {
    background: linear-gradient(to top, #000 -15%,transparent 15%);
  }

  &:not(:focus):invalid + label {
    &:after {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 40px;
      content: ' invalid';
      color: $pink;
    }
  }
}

form.contact-form,
form.login-form,
form.create-user-form {
  form:invalid{ border:none; }
  form:valid{ border:none; }
  h5 { color: $lightgreen; }
  div.form-group {
    position: relative;

    label {
      @include transition(all,0.25s,ease-out,0);
      z-index: $z-body;
      color: $lightgreen;
      text-align: left;
      font-family: $mono-spaced-font;
      position: absolute;
      top: 10px;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40px;
      opacity: 0.2;
      font-size: $xxxlarge-font-size;
      overflow: hidden;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      box-sizing: border-box;
      position: relative;
      z-index: $z-contact-form-input;
      outline: solid transparent;
      width: 100%;
      height: 50px;
      font-family: $mono-spaced-font;
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      -ms-appearance: none;
      appearance: none;
      color: $yellow;
      background: none;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $lightgreen;
      
      &:focus + label,
      &:valid + label {
        top: 100%;
        left: 0;
        font-size: 1em;
      }
      &:not(:focus):valid {
        background: none;
      }
      &:focus:valid {
        background: none;
      }

      &:not(:focus) {
        background: linear-gradient(to top, #000 -15%,transparent 15%);
      }

      &:not(:focus):invalid + label {
        &:after {
          position: relative;
          top: 0;
          left: 0;
          width: 100%;
          height: 40px;
          content: ' invalid';
          color: $pink;
        }
      }
    }

    input[type="submit"],
    button
     {
      display: block;
      width: 100%;
      background: none;
      color: $lightgreen;
      border: 1px solid $lightgreen;
      margin-top: 40px;
      opacity: 1;

      &:hover {
        background: $lightgreen;
        color: $darkblue;
      }

      &[disabled="disabled"] {
        cursor: not-allowed;
        opacity: 0.2;
      }
    }
  }
}
