section#hero {

  @include defaults;
  position: relative;
  background: $darkblue;
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-size: cover;
  h1 {
    @include defaults;
    padding: 30% 4% 0;
    text-align: left;
    color: $white;
    line-height: 1em;
    font-size: 1.7em;
    font-weight: $header-heavy;
  }
  p.lead {
    font-weight: 300;
    position: relative;
    padding: 0 4%;
    font-size: $xlarge-font-size;
    text-align: left;
    color: $white;
    a .down-arrow-svg {
      fill: $white;
      width: 32px;
    }
    span.cta { font-weight: $body-bold; }
  }
  div.hero-footer {
    position: absolute;
    bottom: 0;
    padding: 20px;
    background: linear-gradient(to top, rgba(0,0,0,0.8),transparent);
    width: 100%;
    box-sizing: border-box;
    p.lead {
      padding-bottom: 40px;
      font-size: $xlarge-font-size;
      text-align: center;
      color: $white;
      a .down-arrow-svg {
        fill: $white;
        width: 32px;
      }
      span.cta { font-weight: $body-bold; }
    }
  }
}

section#blurbs {
  @include defaults;
  padding: 30px 0;
  background: $darkblue;
  color: $white;
  box-sizing: border-box;
  
  div.blurb {
    text-align: center;
    svg {
      width: 64px;
      fill: $white;
    }
  }
}

section#posts {

  padding-top: 100px;
  background: $darkblue;

  div.post {
    @include defaults;
    float:left;
    width: 50%;
    height:200px;
    overflow: hidden;
    background: $white;
    
    a { text-decoration: none; }
    
    &.withImage {
      figure {
        @include defaults;
        img {
          width: 100%;
        }
      }
      div.post-info {
        @include transition(all,0.25s,ease,0);
        top: 75%;
        background: rgba(0,0,0,0);
      }

      &:hover {
        div.post-info {
          top: 0;
          background: rgba(25,53,73,0.8);
          h3 {
          }
        }
      }  
    }

    figure {
      @include defaults;
      img {
        width: 100%;
      }
    }
    div.post-info {
      @include transition(all,0.25s,ease,0);
      box-sizing: padding-box;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 4%;
      background: $darkblue;
      color: $white;
      width: 100%;
      height: 100%;
      text-align: left;

      h3.post-header { 
        margin: 5px 0;
        font-weight: $header-light;
        font-size: $xxlarge-font-size;
      }
      div.post-body {  }
      button { font-size: .8em; }
    }
  }
}

section.contact {
  background-color: $darkblue;
  padding: 100px 0;
  header {
    @include defaults; 
    h2 { 
      @include defaults; 
      text-align: center;
      color: $lightyellow;
    }
  }
  form {
    form:invalid{ border:none; }
    form:valid{ border:none; }
    h5 { color: $lightyellow; }
    div.form-group {
      position: relative;

      label {
        @include transition(all,0.25s,ease-out,0);
        z-index: $z-body;
        color: $lightyellow;
        text-align: left;
        font-family: $mono-spaced-font;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40px;
        opacity: 0.2;
        font-size: $xxxlarge-font-size;
        overflow: hidden;
      }
      input[type="text"],
      input[type="email"] {
        box-sizing: border-box;
        position: relative;
        z-index: $z-contact-form-input;
        outline: solid transparent;
        width: 100%;
        height: 40px;
        font-family: $mono-spaced-font;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        -ms-appearance: none;
        appearance: none;
        color: $yellow;
        background: none;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $lightyellow;
        
        &:focus + label,
        &:valid + label {
          top: 100%;
          left: 0;
          font-size: 1em;
        }

        &:not(:focus) {
          background: linear-gradient(to top, #000 -15%,transparent 15%);
        }

        &:not(:focus):invalid + label {
          &:after {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 40px;
            content: ' invalid';  
          }
        }
      }

      input[type="submit"] {
        width: 100%;
        background: none;
        color: $lightyellow;
        border: 1px solid $lightyellow;
        margin-top: 40px;
        opacity: 1;

        &:hover {
          background: $lightyellow;
          color: $darkblue;
        }

        &[disabled="disabled"] {
          cursor: not-allowed;
          opacity: 0.2;

          &:hover {
            background: none;
            color: $lightyellow;
            border: 1px solid $lightyellow;
          }
        }
      }
    }
  }
}
