section.hero {

  @include defaults;
  position: relative;
  background: url('/images/home/home-bg1-xlarge.jpg') no-repeat;
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-size: cover;
  h1 {
    @include defaults;
    padding: 30% 4% 0;
    text-align: left;
    color: $white;
    text-shadow: 0px 0px 3px #999;
    line-height: 1em;
    font-size: 1.7em;
    font-weight: $header-heavy;
  }
  p.lead {
    font-weight: 300;
    position: relative;
    padding: 0 4%;
    font-size: $xlarge-font-size;
    text-shadow: 0px 0px 3px #999;
    text-align: left;
    color: $white;
    a .down-arrow-svg {
      fill: $white;
      width: 32px;
    }
    span.cta { font-weight: $body-bold; }
  }
  div.hero-footer {
    position: absolute;
    bottom: 0;
    padding: 20px;
    background: linear-gradient(to top, rgba(0,0,0,0.8),transparent);
    width: 100%;
    box-sizing: border-box;
    p.lead {
      padding-bottom: 40px;
      font-size: $xlarge-font-size;
      text-align: center;
      color: $white;
      a .down-arrow-svg {
        fill: $white;
        width: 32px;
      }
      span.cta { font-weight: $body-bold; }
    }
  }
}

section#blurbs {
  @include defaults;
  padding: 30px 0;
  background: $black-80;
  color: $white;
  box-sizing: border-box;
  
  div.blurb {
    text-align: center;
    svg {
      width: 64px;
      fill: $white;
    }
  }
}

section#posts {
  div.post {
    @include defaults;
    padding: 0 0 20px;
    border-bottom: 1px dotted $black-50;

    a { @include defaults; text-decoration: none; }
    figure {
      @include defaults;
      img {
        width: 100%;
      }
    }
  }
}
