div.hero {
  background: url('/images/home/home-bg1-xlarge.jpg') no-repeat;
  height: 100vh;

  h1 {
    @include defaults;
    padding-top: 100px;
    text-align: center;
    color: $black;
    text-shadow: 0px 0px 1px #ccc;
    line-height: 1em;
    font-size: 1.7em;
    font-weight: $header-heavy;
  }
  p.lead {
    text-align: center;
    a .down-arrow-svg {
      fill: $black;
      width: 32px;
    }
  }
}
div#posts {
  div.posts-row {
    @include defaults;
    div.post-thumb {
      padding: 0 10px 20px;
      border-bottom: 1px dotted $black-50;

      a { @include defaults; text-decoration: none; }
      figure {
        @include defaults;
        img {
          width: 100%;
        }
      }
    }
  }  
}
