section.imgr {
  min-height: 500px;
  background: $darkblue;
  color: $white;
  div {
    form {
      margin-top: 100px;
      input[type="submit"]#upload-image-submit {
        color: $darkblue;
      }
    }
  }
}