nav#nav-toggle {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-nav-icon;
  padding-left: 10px;
  width: 100%;

  a.home-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-top: 15px;
    svg#code-brush {
      fill: $black;
      width: 32px;
      padding-top: 10px;
    }
  }
  a.menu-icon{
    color: $black;
    float: right;
    margin-right: 30px;
    display:block;
    width:40px;
    -webkit-transform: translate3d(0,0,0);

    &:before,
    &:after,
    .menu-icon__text {
      background: $black;
      content: '';
      display:block;
      height:4px;
      margin:6px 0;
      width:100%;
      border-radius: 3px;
      @include transition(all, 0.25s, ease-in-out, 0)
    }
    .menu-icon__text {
      text-indent: -9999px;
    }
    .display_text{
      position: absolute;
      top: 3px;
      padding-left: 50px;
      text-decoration: none;
      color: $black;
      font-family: $body-font;
      font-size: $large-font-size;
      // font-weight: 700;
      font-style: normal;
    }
    &.active {
      &:before {
        -webkit-transform: rotate(45deg) translate3d(5px,10px,0);
        -moz-transform: rotate(45deg) translate3d(5px,10px,0);
        -o-transform: rotate(45deg) translate3d(5px,10px,0);
        -ms-transform: rotate(45deg) translate3d(5px,10px,0);
        transform: rotate(45deg) translate3d(5px,10px,0);
      }

      .menu-icon__text {
          opacity: 0;
      }

      &:after {
        -webkit-transform: rotate(-45deg) translate3d(5px,-10px,0);
        -moz-transform: rotate(-45deg) translate3d(5px,-10px,0);
        -o-transform: rotate(-45deg) translate3d(5px,-10px,0);
        -ms-transform: rotate(-45deg) translate3d(5px,-10px,0);
        transform: rotate(-45deg) translate3d(5px,-10px,0);
      }
    }
  }
  .indent {
      margin: 13px auto;
  }
}
nav.navbar {
  @include defaults;
  overflow-y: scroll;
  position: fixed;
  top: -150%;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: $z-nav;
  background: $black-50;
  @include transition(all,0.25s,ease,0);

  &.active {
    top: 0;
  }
  ul.nav {
    @include defaults;
    display: block;
    list-style: none;
    padding: 60px 0 10px;
    li {
      display: block;
      a {
        height: 100%;
        width: 100%;
        margin: 20px 0;
        padding: 10px 20px;
        display: block;
        font-size: 2em;
        font-weight: bold;
        color: white;
        text-decoration: none;
        border-bottom: 1px dotted $black-10;
        box-sizing: border-box;
        &:hover {

        }
      }
    }
  }
  ul.accounts {
    @include defaults;
    padding-left: 20px;
    list-style: none;
    li {
      display: inline-block;

      a img { width: 32px; height: 32px; margin: 0 5px; }
    }
  }
}