nav#nav-toggle {
  display: none;
}
nav.navbar {
  ul.nav {
    @include defaults;
    list-style: none;

    li {
      display: inline-block;

      a {

        &:hover {

        }
      }
    }
  }
}