nav.navbar {
  ul.mobile-only {
      display: none;
    }
  ul.nav {
    @include defaults;
    list-style: none;

    li {
      display: inline-block;

      a {

        &:hover {

        }
      }
    }
  }
}