section.post-new {
  background-color: $darkblue;
  padding-top: 60px;
  color: $white;
  div {
    h1 { color: $white; }
    /* form{
      div.form-group {
        label {}
        input { width: 100%; }
        textarea { width: 100%; min-height: 400px; }
      }
    } */
  }
}