article.post {
  position: relative;
  padding-top: 50px;
  height: auto;
  width: 100%;
  clear:both;

  div.featured-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    z-index: $z-featured-image;
  }
  div.black-carbon {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjOWU5ZTllIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDVMNSAwWk02IDRMNCA2Wk0tMSAxTDEgLTFaIiBzdHJva2U9IiM4ODgiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4=");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    z-index: $z-featured-image;
  }
  div.post-content {
    padding: 200px 0 0;
    position: relative;
    h1 {
      background: $yellow;
      color: $darkblue;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 0px;
      padding: 20px;
      box-sizing: border-box;
    }
    div.body {
      background: none repeat scroll 0% 0% white;
      min-height: 210px;
      padding: 20px;
      box-sizing: border-box;

      figure {
        @include defaults;
        &.inline {
          margin: 10px;
          &.small { max-width: 144px; }
          &.medium { max-width: 300px; }
          &.large { max-width: 500px; }
          &.left { float: left; }
          &.right { float: right; }
        }
        figcaption {
          font-size: $base-font-size;
          font-style: italic;
        }
      }

      p > code {
        background: #eee;
        padding: 1px 5px;
        border: 1px solid #ddd;
        border-radius: 6px;
      }
      div.post-body-inline-images {
        width: 100%;
        div.post-body-image-container{
          width: 23%;
          margin: 0 1%;
          float: left;
          svg { width: 100%; }
        }
      }
      img {
        width: 100%;
        height: auto;
        &.inline-image {
          &.left-align { margin: 0 10px 10px 0; float: left; }
          &.right-align { margin: 0 0 10px 10px; float: right; }
        }
      }
    }
  }

  div.slider-container {
    position: relative;
    overflow: hidden;
    height: 600px;
    width: 100%;
    max-width: 960px;
    margin: 0 auto 50px;

    div.slider-photos {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      img.post-image { height: auto; position: absolute; }
    }
    div.slider-captions {
      div.caption-content {}
    }
    div.slider-nav {}
    div.slider-step {
      z-index: $z-post-gallery-nav;
      position: absolute;
      width: 100%;

      a.slider-nav.prev{
        float: left;
        margin: 30% 10px;
        font-size: 34px;
        text-decoration: none;
        font-weight: bold;
        color: white;
      }
      a.slider-nav.next {
        float: right;
        margin: 30% 10px;
        font-size: 34px;
        text-decoration: none;
        font-weight: bold;
        color: white;
      }
    }
  }
}

section.post-edit {
  padding-top: 60px;
  background-color: $darkblue;
  color: $white;
  div {
    h1 {}
  }
}