section.post {
  position: relative;
  padding-top: 50px;
  height: auto;
  width: 100%;
  clear:both;

  div.featured-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    z-index: $z-featured-image;
  }
  div.black-carbon {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSIxNSI+CjxyZWN0IHdpZHRoPSI1MCIgaGVpZ2h0PSI1MCIgZmlsbD0iIzI4MjgyOCI+PC9yZWN0Pgo8Y2lyY2xlIGN4PSIzIiBjeT0iNC4zIiByPSIxLjgiIGZpbGw9IiMzOTM5MzkiPjwvY2lyY2xlPgo8Y2lyY2xlIGN4PSIzIiBjeT0iMyIgcj0iMS44IiBmaWxsPSJibGFjayI+PC9jaXJjbGU+CjxjaXJjbGUgY3g9IjEwLjUiIGN5PSIxMi41IiByPSIxLjgiIGZpbGw9IiMzOTM5MzkiPjwvY2lyY2xlPgo8Y2lyY2xlIGN4PSIxMC41IiBjeT0iMTEuMyIgcj0iMS44IiBmaWxsPSJibGFjayI+PC9jaXJjbGU+Cjwvc3ZnPg==");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    z-index: $z-featured-image;
  }
  div.post-content {
    padding: 200px 0 100px;;
    position: relative;
    h1 {
      background: $white;
      margin-top: 0;
      margin-bottom: 0px;
      padding: 20px;
      box-sizing: border-box;
    }
    div.body {
      background: none repeat scroll 0% 0% white;
      min-height: 210px;
      padding: 20px;
      box-sizing: border-box;
      div.post-images {
        z-index: $z-post-images;
        img {width: 100%;}
      }
    }
    div.meta {
      box-sizing: padding-box;
      padding: 20px;
      background: $white;
    }
  }
}

section.post-edit {
  padding-top: 60px;
  background-color: $black-10;
  div {
    h1 {}
    form{
      div.form-group {
        label {}
        textarea { width: 100%; min-height: 400px; }
      }
    }
  }
}