@media only screen and (max-device-width: 480px) {
  nav#nav-toggle {
    display: block;
  }
  div.hero {
    min-height: 250px;
    background: url('/images/home/home-bg1-small.jpg') no-repeat;
    background-size: cover;
    h1 { 
      
    }
  }
}