<div class="hero">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman">
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="posts-row" ng-repeat="post in posts">
  <div class="post-thumb">
    <a ng-href="#/posts/{{post.id}}" title="">
      <figure>
        <img ng-if="hasImage(post)" src="{{post.image}}" alt="{{post.id}}-image">
        <figcaption>{{post.title}}</figcaption>
      </figure>
    </a>
  </div>
</div>