<section class="post-edit container clearfix" ng-if="isLoggedIn()">
  <header class="grid_16">
    <h1>Create a new post:</h1>
  </header>
  <div class="grid_16">
    <form role="form" name="postForm" ng-submit="upsertPost(post)" novalidate>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" ng-bind-html="post.title" ng-model="post.title">
      </div>
      <div class="form-group">
        <label for="body">Title</label>
        <textarea name="body" ng-model="post.body" ng-bind-html="post.body"></textarea>
      </div>

      <div class="form-group" ng-repeat="category in categories">
        
        <!--
        <div class="skill" ng-repeat="skill in skills">
          <label for="{{skill.name}}">
          <input type="checkbox" ng-checked="hasSkill(skill)" ng-model="skill.checked" name="{{skill.name}}">{{skill.name}}
          </label>
        </div>

         -->
      </div>
      <button class="btn btn-default" ng-click="clearForm()">Reset</button>
      <button class="btn btn-default" type="submit" ng-disabled="postForm.$invalid">Submit</button>
    </form>

    <form id='imageUpload' action="http://dubya-blog-bucket.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
      <input id='acl' type="hidden" name="acl" value="public-read" />
      <input id='key' type="hidden" name="key" value="" />
      <input id='accessKey' type="hidden" name="AWSAccessKeyId" value="" />
      <input id='uploadPolicy' type="hidden" name="Policy" value="POLICY" />
      <input id='uploadSignature' type="hidden" name="Signature" value="SIGNATURE" />
      File: <input type="file" name="file" accept="image/*"/> <br />
      <input type="submit" name="submit" value="Upload to Amazon S3" />
    </form>
  </div>
</section>