<section class="post clearfix" jw-post>
  <div ng-if="post.images[0] === nil" class="white-carbon"></div>
  <div ng-if="post.image !== '/images/medium/missing.png'" class="featured-image" style="background: url({{post.images[0]}}) no-repeat center top; background-size:cover;"></div>
  <div class="post-content clearfix container">
    <div class="grid_12 clearfix">
      <h1 ng-bind-html="post.title"></h1>
      <p class="date">{{ post.created_at | date }}</p>
    </div>
    <div class="body grid_16" ng-bind-html="post.body"></div>
    <div class="meta grid_16">
      <p>{{post.created_at}}</p>
      <p><a class="btn" ng-repeat="category in post.categories">{{category}}</a></p>
    </div>
  </div>
</section>

<section ng-if="isLoggedIn()" class="post-edit container clearfix">
  <div class="grid_16">
    <h1>{{message}}</h1>
    <form role="form" name="postForm" ng-submit="upsertPost(post)" novalidate>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" ng-bind-html="post.title" ng-model="post.title">
      </div>
      <div class="form-group">
        <label for="body">Title</label>
        <textarea name="body" ng-model="post.body" ng-bind-html="post.body"></textarea>
      </div>
      
      <button class="btn btn-default" ng-click="clearForm()">Reset</button>
      <button class="btn btn-default" type="submit" ng-disabled="postForm.$invalid">Submit</button>
    </form>

    <form id='imageUpload' action="http://dubya-blog-bucket.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
      <input id='acl' type="hidden" name="acl" value="public-read" />
      <input id='key' type="hidden" name="key" value="" />
      <input id='accessKey' type="hidden" name="AWSAccessKeyId" value="" />
      <input id='uploadPolicy' type="hidden" name="Policy" value="POLICY" />
      <input id='uploadSignature' type="hidden" name="Signature" value="SIGNATURE" />
      File: <input type="file" name="file" accept="image/*" multiple="true"/> <br />
      <input type="submit" name="submit" value="Upload to Amazon S3" />
    </form>
  </div>
</section>