<div ng-if="post.images.length === 0" class="black-carbon"></div>
<div ng-if="post.images.length > 0" class="featured-image" style="background: url({{post.images[0].url}}) no-repeat center top fixed; background-size:cover;"></div>
<div class="post-content clearfix container">
  <div class="grid_12 clearfix">
    <h1 ng-bind-html="post.title"></h1>
  </div>
  <div class="body grid_16 clearfix">
    <div class="post-body grid_12" ng-bind-html="post.body"></div>
    <div class="post-sidebar grid_4">
      <p class="date"><strong>Created on: </strong>{{ post.created_at | date }}</p>
      <p ng-if="post.categories.length > 0"><strong>Categories: </strong><br><a class="btn" ng-repeat="category in post.categories">{{category.name}}</a></p>
    </div>
  </div>
</div>