<section class="resume">
  <header>
    <h1>Jason Wharff:</h1>
    <p class="lead">Designer, Developer, Artist, Teacher, Professional Tinkerer, and Constant Learner. I'm a monster that gobbles up life.</p>
    <div class="contact" ng-repeat="(key,value) in contacts">
      <a href="{{value.url}}" target="_blank"><span class="{{key}}">{{key}}</span></a>
    </div>
  </header>
  <div class="items">
    <div>
      <h1 class="work">Work Experience:</h1>
      <div class="item work" ng-repeat="(key,value) in experience.professional">
        <h2 class="company"><a href="{{value.url}}" target="_blank">{{key}}</a> <span class="dates">{{value.dates}}</span></h2>
        <p><span class="title">{{value.title}}</span> <span class="description">{{value.description}}</span></p>
      </div>
    </div>
    <div>
      <h1 class="education">Education:</h1>
      <div class="item education" ng-repeat="(key,value) in experience.education">
        <h2 class="school"><a href="{{value.url}}" target="_blank">{{key}}</a> <span class="dates">{{value.dates}}</span></h2>
        <p><span class="program">{{value.program}}</span> <span class="description">{{value.description}}</span></p>
      </div>
    </div>
    <div>
      <h1>Skills:</h1>
      <div class="item skills">
        <h2>Technical Skills:</h2>
        <p ng-repeat="(key,value) in skills.technical">
          <span class="skill">{{key}}: <span class="skill-level" ng-repeat="(key,value) in value">{{value}}</span></span>
        </p>
        <h2>Software Skills:</h2>
        <p ng-repeat="(key,value) in skills.software">
          <img class="software-icon" src="{{value.icon}}" alt="{{key}}-icon">
          <span class="skill">{{key}}: </span><span class="skill-level">{{value.level}}</span>
        </p>
      </div>
    </div>
  </div>
</section>